@import "tailwindcss";


@theme {
  --color-background: oklch(0.9158 0.077 326.18);
  --color-foreground: oklch(0.213 0.217 29.23);
  /* --color-primary: oklch(0.4617 0.0346 326.12); */
  --color-primary: #635263;
  --color-on-primary: oklch(1 0 0);

  --font-bebas-neue: "Bebas Neue", Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-bebas-neue;
    @apply h-dvh flex flex-col place-items-center justify-center;
  }
}
