---
interface Props {
  number: number;
  value?: string;
}

const { number, value = '-' }: Props = Astro.props;
---
<article class="w-64 h-16 bg-primary/45 text-on-primary text-5xl flex rounded-md shadow-[4px_4px_0px_0px_rgba(0,0,0,0.5)] gap-2 items-center">
  <span class="bg-primary w-16 h-16 leading-17 rounded-md text-center">{number}</span>
  <p class="h-full leading-18">{value}</p>
</article>
