---
import Cell from "./cell.astro";

export interface Props{
    cells: number[],
    number: number
}

const { cells, number } = Astro.props;
const isLost = false;
---

<section>
    <article class="game-board">
        { cells.map((cell, index) => <Cell _id={index.toString()} number={cell}/> )}
    </article>
    <h2>123</h2>
    <Cell _id="tile" number={number} draggable={!isLost}/>
</section>


<style>
    section{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }

    h2{
        height: 2rem;
        font-size: 2rem;
        margin: .5rem 0;
    }
    .game-board{
        background-color: #825E82;
        display: grid;
        grid-template-columns: repeat(, 1fr);
        gap: .5rem;
        padding: .5rem;
        border-radius: 8px;
        width: max-content;
    }
</style>