---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />'
		<meta name="theme-color" content="#ffd2ff">
		<title>{title}</title>
		
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
	</head>
	<body><slot/></body>
</html>
<style is:global>
	:root{
		--color-bg: #ffd2ff;
	}
	*{
		box-sizing: border-box;
    	font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
	}
	html, body{
		height: 100%;
	}
	body{
		margin: 0;
		background-color: var(--color-bg);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.pulse{
        animation: pulse 2s infinite;
    }

    @keyframes pulse {
        0% { box-shadow: 0 0 0 0 rgba(255, 151, 255, 0.4); }
        70% { box-shadow: 0 0 0 10px rgba(255, 151, 255, 0); }
        100% { box-shadow: 0 0 0 0 rgba(255, 151, 255, 0); }
    }

	.game-board.win ~ .cell#tile{
		display: none;
	}
	.game-board.win ~ h2{ color: #4caf50; }

	.game-board.lose ~ .cell#tile{
		background-color: #f44336;
		border-color: #f44336;
		color: #FFF;
	}
	.game-board.lose ~ h2{ color: #f44336; }
</style>
